@import '~swiper/swiper.scss';

@media screen and (min-width: 320px) {
    button {
        font-family: 'Circe-Regular';
        &:active, &:focus {
            outline: none;

        }
    }

    .swiper-container {
        z-index: 0;
    }
}